
/* styling the container */
     /*floating the div container to the right */

/* .enrolled-students{
    float: right;   
    margin-left: 20px;
    width: 40%;
} */

/* styling the table inside the container */

