
/* Targeting the whole form  */
form{
    max-width: 800px;
    margin:0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

/* styling the enroll btn and clear btn */

button{
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#enroll-btn{
    background-color: #007bff;
    color: white;
}

#clear-btn{
    background-color: red;
    color: white;
}
